.darker-link {
  color: $text-blue-1;
  position: relative;
  padding-right: 15px;
  text-transform: capitalize;
  &:hover {
    text-decoration: underline;
  }
}
.lighter-link {
  text-transform: capitalize;
  color: $text-blue-2;
  position: relative;
  padding-right: 15px;
  &:hover {
    text-decoration: underline;
  }
}

.darker-link::after,
.lighter-link::after {
  position: absolute;
  right: 0;
  content: "";
  width: 7px;
  height: 7px;
  border-top: 1.5px solid;
  border-right: 1.5px solid;
  transform: rotate(45deg) translateY(100%);
  color: inherit;
}
.darker-link::after {
  border-color: $text-blue-1;
}
.darker-link-big {
  @extend .darker-link;
  display: inline-block;
  transform: scale(1.15);
}
.lighter-link-big {
  @extend .darker-link;
  display: inline-block;
  transform: scale(1.15);
}
.lighter-link::after {
  border-color: $text-blue-2;
}
.primary-btn-dark,
.primary-btn-light {
  color: white;
  border-radius: 20px;
  font-size: 17px;
  padding: 10px 20px;
  border: none;
}
.primary-btn-light {
  background-color: $text-blue-2;
}
.primary-btn-dark {
  background-color: $text-blue-1;
}

.click-section {
  position: absolute;
  inset: 0 0 0 0;
}
section.welcoming-darker {
  background-color: $secondary-bg;
  p {
    max-width: 940px;
    padding: 10px 20px;
    margin: auto;
    text-align: center;
    font-size: 14px;
    a {
      font-size: inherit;
      padding: 0;
      &::after {
        content: "";
        display: none;
      }
    }
  }
}
section.welcoming-lighter {
  background-color: $dark-text;
  p {
    max-width: 940px;
    padding: 10px 20px;
    margin: auto;
    text-align: center;
    font-size: 14px;
    a {
      font-size: inherit;
      padding: 0;
      &::after {
        content: "";
        display: none;
      }
    }
  }
}
