// fonts
@font-face {
  font-family: "FontsFree-Net-SFProDisplay-Regular";
  src: url(../fonts/FontsFree-Net-SFProDisplay-Regular.ttf) format("truetype");
}
@font-face {
  font-family: "FontsFree-Net-SFProDisplay-BoldItalic";
  src: url(../fonts/FontsFree-Net-SFProDisplay-BoldItalic.ttf)
    format("truetype");
}

* {
  font-family: "FontsFree-Net-SFProDisplay-Regular", sans-serif;
}

//variables

$text-color: #86868b;
$dark-text: #1d1d1f;
$main-bg: #fbfbfd;
$secondary-bg: #f5f5f7;
$bg-dark-1: #444444;
$text-blue-1: #0066cc;
$text-blue-2: #2997ff;
$black: #000;
$white: #fff;
$base-size: 16;
$ratio: 1.5;
$padd-big: 47px;
$padd-small: 40px;
$mrg-section: 7px;

@media screen and (max-width: 767px) {
  $base-size: 13.5 !global;
}

// mixins

@mixin flex(
  $direction: row,
  $justify: space-between,
  $align: center,
  $gap: 30px,
  $wrap: wrap
) {
  display: flex;
  flex-direction: #{$direction};
  justify-content: #{$justify};
  align-items: #{$align};
  gap: $gap;
  flex-wrap: $wrap;
}
@mixin grid($width-item: 250px, $row-gap: 30px, $column-gap: 30px) {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax($width-item, 1fr));
  column-gap: $column-gap;
  row-gap: $row-gap;
}

/*Click Section*/

@mixin heading-size($original, $small) {
  font-size: $original;
  @media screen and (max-width: 734px) {
    font-size: $small;
  }
}
h1 {
  @include heading-size(52px, 48px);
}
h2 {
  @include heading-size(50px, 34px);
}
h3 {
  @include heading-size(40px, 34px);
}
h4 {
  @include heading-size(36px, 32px);
}
h5 {
  @include heading-size(23px, 19px);
}
p,
a,
span,
li {
  @include heading-size(17px, 14px);
}
// placehoders
%new {
  color: rgb(255, 59, 59);
  font-size: 10px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
