@font-face {
  font-family: "FontsFree-Net-SFProDisplay-Regular";
  src: url(../fonts/FontsFree-Net-SFProDisplay-Regular.ttf) format("truetype"); }
@font-face {
  font-family: "FontsFree-Net-SFProDisplay-BoldItalic";
  src: url(../fonts/FontsFree-Net-SFProDisplay-BoldItalic.ttf) format("truetype"); }
* {
  font-family: "FontsFree-Net-SFProDisplay-Regular", sans-serif; }

/*Click Section*/
h1 {
  font-size: 52px; }
  @media screen and (max-width: 734px) {
    h1 {
      font-size: 48px; } }

h2 {
  font-size: 50px; }
  @media screen and (max-width: 734px) {
    h2 {
      font-size: 34px; } }

h3 {
  font-size: 40px; }
  @media screen and (max-width: 734px) {
    h3 {
      font-size: 34px; } }

h4 {
  font-size: 36px; }
  @media screen and (max-width: 734px) {
    h4 {
      font-size: 32px; } }

h5 {
  font-size: 23px; }
  @media screen and (max-width: 734px) {
    h5 {
      font-size: 19px; } }

p,
a,
span,
li {
  font-size: 17px; }
  @media screen and (max-width: 734px) {
    p,
    a,
    span,
    li {
      font-size: 14px; } }

main #products-bar .container ul .product-from-bar:nth-child(4)::after {
  color: #ff3b3b;
  font-size: 10px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%); }

.darker-link, .darker-link-big, .lighter-link-big {
  color: #0066cc;
  position: relative;
  padding-right: 15px;
  text-transform: capitalize; }
  .darker-link:hover, .darker-link-big:hover, .lighter-link-big:hover {
    text-decoration: underline; }

.lighter-link {
  text-transform: capitalize;
  color: #2997ff;
  position: relative;
  padding-right: 15px; }
  .lighter-link:hover {
    text-decoration: underline; }

.darker-link::after, .darker-link-big::after, .lighter-link-big::after,
.lighter-link::after {
  position: absolute;
  right: 0;
  content: "";
  width: 7px;
  height: 7px;
  border-top: 1.5px solid;
  border-right: 1.5px solid;
  transform: rotate(45deg) translateY(100%);
  color: inherit; }

.darker-link::after, .darker-link-big::after, .lighter-link-big::after {
  border-color: #0066cc; }

.darker-link-big {
  display: inline-block;
  transform: scale(1.15); }

.lighter-link-big {
  display: inline-block;
  transform: scale(1.15); }

.lighter-link::after {
  border-color: #2997ff; }

.primary-btn-dark,
.primary-btn-light {
  color: white;
  border-radius: 20px;
  font-size: 17px;
  padding: 10px 20px;
  border: none; }

.primary-btn-light {
  background-color: #2997ff; }

.primary-btn-dark {
  background-color: #0066cc; }

.click-section {
  position: absolute;
  inset: 0 0 0 0; }

section.welcoming-darker {
  background-color: #f5f5f7; }
  section.welcoming-darker p {
    max-width: 940px;
    padding: 10px 20px;
    margin: auto;
    text-align: center;
    font-size: 14px; }
    section.welcoming-darker p a {
      font-size: inherit;
      padding: 0; }
      section.welcoming-darker p a::after {
        content: "";
        display: none; }

section.welcoming-lighter {
  background-color: #1d1d1f; }
  section.welcoming-lighter p {
    max-width: 940px;
    padding: 10px 20px;
    margin: auto;
    text-align: center;
    font-size: 14px; }
    section.welcoming-lighter p a {
      font-size: inherit;
      padding: 0; }
      section.welcoming-lighter p a::after {
        content: "";
        display: none; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

a {
  text-decoration: none; }

ul {
  list-style: none; }

.container {
  max-width: 980px;
  margin: auto; }

header {
  background-color: #444444;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100; }
  header nav {
    max-width: 980px;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    flex-wrap: wrap;
    padding: 5px 20px;
    z-index: 3000000; }
    header nav .logo,
    header nav .bag {
      color: #f5f5f7;
      opacity: 0.8;
      transition: 0.3s color;
      cursor: pointer; }
      header nav .logo:hover,
      header nav .bag:hover {
        opacity: 1; }
    header nav .logo a {
      color: inherit; }
    header nav ul {
      flex-grow: 1;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      gap: 30px;
      flex-wrap: nowrap; }
      @media screen and (max-width: 767px) {
        header nav ul {
          position: fixed;
          top: 38px;
          left: 0;
          width: 100%;
          transform: scaleY(0);
          transform-origin: top center;
          background-color: #000;
          flex-direction: column;
          align-items: flex-start;
          padding: 0 30px;
          overflow: hidden;
          opacity: 0;
          transition: 0.5s transform, 0.25s opacity;
          z-index: 2; }
          header nav ul li:not(:last-child) {
            border-bottom: 1px solid #f5f5f7;
            padding-bottom: 10px;
            width: 100%; }
          header nav ul li:last-child {
            order: -1; } }
      header nav ul li {
        color: #f5f5f7;
        opacity: 0.8;
        transition: 0.3s color;
        cursor: pointer; }
        header nav ul li:hover {
          opacity: 1; }
        header nav ul li a {
          color: inherit;
          font-size: 14px; }
    header nav #bars {
      display: none; }
      header nav #bars:checked ~ ul {
        transform: scaleY(1);
        padding: 20px 30px 100px;
        overflow: visible;
        opacity: 1; }
    header nav label {
      width: 20px;
      height: 10px;
      display: none; }
      @media screen and (max-width: 767px) {
        header nav label {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          align-items: center;
          gap: 0;
          flex-wrap: nowrap;
          order: -1; } }
      header nav label > * {
        width: 100%;
        height: 2px;
        background-color: #f5f5f7; }

footer .container {
  padding: 0 20px; }
  footer .container a,
  footer .container li,
  footer .container ul,
  footer .container p {
    font-size: 12px; }
  footer .container section.footer-top {
    color: #86868b; }
    footer .container section.footer-top article {
      padding: 20px 0;
      border-bottom: 1px solid #86868b; }
    footer .container section.footer-top article > *,
    footer .container section.footer-top ol > * {
      margin-bottom: 10px; }
  footer .container section.footer-links {
    padding: 20px 0; }
    footer .container section.footer-links h5 {
      font-size: 12px;
      margin-bottom: 7px; }
    footer .container section.footer-links .wrapper {
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      gap: 20px;
      grid-template-rows: repeat(4, max-content); }
      @media screen and (max-width: 767px) {
        footer .container section.footer-links .wrapper {
          grid-template-columns: 1fr;
          grid-template-rows: repeat(10, max-content); } }
      footer .container section.footer-links .wrapper .Shop-and-Learn {
        grid-column: 1 / 2;
        grid-row: 1 / span 4; }
        @media screen and (max-width: 767px) {
          footer .container section.footer-links .wrapper .Shop-and-Learn {
            grid-row: 1 /2;
            grid-column: 1 / 2; } }
      footer .container section.footer-links .wrapper .Services {
        grid-column: 2 / 3;
        grid-row: 1 / span 3; }
        @media screen and (max-width: 767px) {
          footer .container section.footer-links .wrapper .Services {
            grid-row: 2/3;
            grid-column: 1 / 2; } }
      footer .container section.footer-links .wrapper .Account {
        grid-column: 2 / 3;
        grid-row: 4 / 5; }
        @media screen and (max-width: 767px) {
          footer .container section.footer-links .wrapper .Account {
            grid-row: 3/4;
            grid-column: 1 / 2; } }
      footer .container section.footer-links .wrapper .Apple-Store {
        grid-column: 3 / 4;
        grid-row: 1 / span 4; }
        @media screen and (max-width: 767px) {
          footer .container section.footer-links .wrapper .Apple-Store {
            grid-row: 4/5;
            grid-column: 1 / 2; } }
      footer .container section.footer-links .wrapper .For-Business {
        grid-column: 4 / 5;
        grid-row: 1 / 2; }
        @media screen and (max-width: 767px) {
          footer .container section.footer-links .wrapper .For-Business {
            grid-row: 5/6;
            grid-column: 1 / 2; } }
      footer .container section.footer-links .wrapper .For-Education {
        grid-column: 4 / 5;
        grid-row: 2 / 3; }
        @media screen and (max-width: 767px) {
          footer .container section.footer-links .wrapper .For-Education {
            grid-row: 6/7;
            grid-column: 1 / 2; } }
      footer .container section.footer-links .wrapper .For-Healthcare {
        grid-column: 4 / 5;
        grid-row: 3 / 4; }
        @media screen and (max-width: 767px) {
          footer .container section.footer-links .wrapper .For-Healthcare {
            grid-row: 7/8;
            grid-column: 1 / 2; } }
      footer .container section.footer-links .wrapper .For-Government {
        grid-column: 4 / 5;
        grid-row: 4 / 5; }
        @media screen and (max-width: 767px) {
          footer .container section.footer-links .wrapper .For-Government {
            grid-row: 8/9;
            grid-column: 1 / 2; } }
      footer .container section.footer-links .wrapper .Apple-Values {
        grid-column: 5 / 6;
        grid-row: 1 / span 2; }
        @media screen and (max-width: 767px) {
          footer .container section.footer-links .wrapper .Apple-Values {
            grid-row: 9/10;
            grid-column: 1 / 2; } }
      footer .container section.footer-links .wrapper .About-Apple {
        grid-column: 5 / 6;
        grid-row: 3 / span 2; }
        @media screen and (max-width: 767px) {
          footer .container section.footer-links .wrapper .About-Apple {
            grid-row: 10/11;
            grid-column: 1 / 2; } }
      footer .container section.footer-links .wrapper ul li {
        margin-bottom: 7px; }
        footer .container section.footer-links .wrapper ul li a {
          color: #86868b; }
    footer .container section.footer-links > p {
      margin-top: 20px; }
      footer .container section.footer-links > p a {
        padding: 0; }
        footer .container section.footer-links > p a::after {
          display: none; }
  footer .container section.footer-bottom {
    border-top: 1px solid #86868b;
    padding: 30px 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 30px;
    flex-wrap: wrap; }
    footer .container section.footer-bottom p:last-child {
      flex-grow: 1;
      text-align: end; }
    footer .container section.footer-bottom ul {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      gap: 0px;
      flex-wrap: wrap; }
      footer .container section.footer-bottom ul li {
        padding: 2.5px 10px;
        color: #86868b; }
        footer .container section.footer-bottom ul li:not(:last-child) {
          border-right: 1px solid #86868b; }
        footer .container section.footer-bottom ul li a {
          color: #86868b; }

main {
  margin-top: 38px; }
  main #products-bar {
    padding: 30px 0;
    background-color: #f5f5f7; }
    main #products-bar .container {
      max-width: 1024px;
      overflow: hidden; }
      main #products-bar .container ul {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 30px;
        flex-wrap: nowrap; }
        main #products-bar .container ul .product-from-bar {
          text-align: center;
          position: relative;
          flex-basis: 100% /11;
          padding-bottom: 15px; }
          main #products-bar .container ul .product-from-bar:nth-child(4)::after {
            content: "New"; }
          main #products-bar .container ul .product-from-bar img {
            display: block;
            width: 50px;
            height: 50px;
            margin: 0 auto; }
          main #products-bar .container ul .product-from-bar span {
            font-size: 12px;
            position: relative; }

/*# sourceMappingURL=style.css.map */
